.block-a > div {
    /* display: flex; */
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
}

.logo {
    height: 100px;
    width: auto;
    padding:20px;
}
.logo img {
    height: 100%;
    width: auto;
}

.box {
    border: 1px solid aqua;
    display: flex;
    justify-content: center; 
    /* align-items: center; */
    flex-direction: column;
    width: 400px;
    border-radius: 10px;
    margin:10px;
}

.Continue {
    background-color: yellow;
    display: block;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}
.email {
    display: block;
    width: 100%;
}
body{
    font-family: "Amazon Ember", Arial, sans-serif;
}
h1{
    font-size: 28px;
}
.new {
    margin:20px;
}